In [2]:
import pandas as pd
import seaborn as sns
import numpy as np 
import matplotlib as mtlb

In [ ]:
df_janeiro = pd.ExcelFile(r'C:\Users\JOSEP\Documents\Projeto--An-lise-da-Desigualdade-de-Renda-e-Emprego-no-Brasil\Bronze\1-tabelas_janeiro_de_2024.xlsx')
print(df_janeiro.sheet_names)

['CAGED', 'Sumário', 'Tabela 1', 'Tabela 2', 'Tabela 3', 'Tabela 4', 'Tabela 5', 'Tabela 5.1', 'Tabela 6', 'Tabela 6.1', 'Tabela 7', 'Tabela 7.1', 'Tabela 8', 'Tabela 8.1', 'Tabela 9']

In [13]:
df_janeiro = pd.read_excel(r'C:\Users\JOSEP\Documents\Projeto--An-lise-da-Desigualdade-de-Renda-e-Emprego-no-Brasil\Bronze\1-tabelas_janeiro_de_2024.xlsx',sheet_name=7)
df_janeiro

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,"TABELA 5.1 - EVOLUÇÃO DE ESTOQUE, ADMISSÕES, D...",NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Mês,Estoque,Admissões,Desligamentos,Saldos,Variação Relativa (%)
4,NaN,Janeiro/2020,39553644,1510210,1398159,112051,----
5,NaN,Fevereiro/2020,39770913,1613837,1396568,217269,0.549302
6,NaN,Março/2020,39475853,1459589,1754649,-295060,-0.741899
7,NaN,Abril/2020,38494275,664877,1646455,-981578,-2.486528
8,NaN,Maio/2020,38095906,761823,1160192,-398369,-1.034879
9,NaN,Junho/2020,38042432,962365,1015839,-53474,-0.140367
10,NaN,Julho/2020,38150815,1177201,1068818,108383,0.2849
11,NaN,Agosto/2020,38365321,1329014,1114508,214506,0.562258
12,NaN,Setembro/2020,38664875,1490808,1191254,299554,0.780794
13,NaN,Outubro/2020,39030831,1662670,1296714,365956,0.946482
14,NaN,Novembro/2020,39407113,1655605,1279323,376282,0.964064
15,NaN,Dezembro/2020,39249769,1335627,1492971,-157344,-0.399278
16,NaN,Janeiro/2021,39504068,1711098,1456799,254299,0.647899
17,NaN,Fevereiro/2021,39901787,1863997,1466278,397719,1.00678
18,NaN,Março/2021,40055387,1759145,1605545,153600,0.384945
19,NaN,Abril/2021,40145383,1503059,1413063,89996,0.224679
20,NaN,Maio/2021,40411839,1651505,1385049,266456,0.663728
21,NaN,Junho/2021,40729842,1698766,1380763,318003,0.786906
22,NaN,Julho/2021,41036712,1766040,1459170,306870,0.753428
23,NaN,Agosto/2021,41424536,1918080,1530256,387824,0.945066
24,NaN,Setembro/2021,41754676,1890543,1560403,330140,0.796967
25,NaN,Outubro/2021,42007410,1841910,1589176,252734,0.605283
26,NaN,Novembro/2021,42321517,1861673,1547566,314107,0.747742
27,NaN,Dezembro/2021,42030108,1479998,1771407,-291409,-0.68856
28,NaN,Janeiro/2022,42197680,1851180,1683608,167572,0.398695
29,NaN,Fevereiro/2022,42551424,2089514,1735770,353744,0.838302
30,NaN,Março/2022,42650507,2002640,1903557,99083,0.232855
31,NaN,Abril/2022,42856138,1887053,1681422,205631,0.48213
32,NaN,Maio/2022,43134007,2002005,1724136,277869,0.648376
33,NaN,Junho/2022,43419181,1933653,1648479,285174,0.661135
34,NaN,Julho/2022,43644379,1922863,1697665,225198,0.51866
35,NaN,Agosto/2022,43932776,2085240,1796843,288397,0.660788
36,NaN,Setembro/2022,44210891,1952562,1674447,278115,0.633047
37,NaN,Outubro/2022,44371229,1819212,1658874,160338,0.362666
38,NaN,Novembro/2022,44499076,1773643,1645796,127847,0.28813
39,NaN,Dezembro/2022,44043382,1408830,1864524,-455694,-1.024053
40,NaN,Janeiro/2023,44133413,1920585,1830554,90031,0.204414
41,NaN,Fevereiro/2023,44385864,1990295,1737844,252451,0.572018
42,NaN,Março/2023,44579527,2203817,2010154,193663,0.436317
43,NaN,Abril/2023,44761152,1899100,1717475,181625,0.407418
44,NaN,Maio/2023,44917039,2023821,1867934,155887,0.348264
45,NaN,Junho/2023,45074108,1935910,1778841,157069,0.349687
46,NaN,Julho/2023,45217399,1901637,1758346,143291,0.317901
47,NaN,Agosto/2023,45438185,2115062,1894276,220786,0.488277
48,NaN,Setembro/2023,45644040,1938434,1732579,205855,0.453044
49,NaN,Outubro/2023,45833214,1959759,1770585,189174,0.414455
50,NaN,Novembro/2023,45957281,1877717,1753650,124067,0.270692
51,NaN,Dezembro/2023,45517275,1509050,1949056,-440006,-0.957424
52,NaN,Janeiro/2024,45697670,2067817,1887422,180395,0.396322
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,Fonte: Novo Caged – MTE.,NaN,NaN,NaN,NaN,NaN
56,NaN,* A variação mensal do emprego toma como refer...,NaN,NaN,NaN,NaN,NaN